.container-todos-os-livros {
    background-color: #303030F2;
   width: 1081px;
   height: 438px;
   border-radius: 32px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: none;
   
}
.table-livros{
    border-collapse: collapse;
    /* Mesclando as bordas das células */
    border: solid 1px black;
    width: 650px;
    height: 250px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    max-height: 250px;
    overflow-y: auto;
}

.container-todos-os-livros div{
    display: flex;
    justify-content: center;
}
.container-todos-os-livros h1{
    padding-top: 40px;
    border-bottom: #FFFFFF solid;
    color: #FFFFFF;
    font-family: 'Inter';
    font-size: 30px;
    font-style: italic;
    font-weight: 600;
    line-height: 36.31px;
}
.container-todos-os-livros .add-remove{
   position: absolute;
    top: 100px;
    right: 210px;
 
}
.container-todos-os-livros .add-remove div{
    padding-right: 10px;
}
.container-todos-os-livros .icone-menos{
  color: #9d2a2a;
    height: 20px;
    width: 20px;
    
}
.container-todos-os-livros button:hover{
    background: linear-gradient(to right, #3e5f45, #0c2311);

    color: #FFFFFF;
    font-size: 12px;
    font-weight: 700px;
}
.container-todos-os-livros button{
    width: 100px;
    height: 35px;
    border-radius: 32px;
    border: solid 1px white;
    background-color: #5C8D67;
    font-size: 9px;
    font-weight: 800;
    line-height: 10.89px;
    text-align: center;
    color: #000000;

}
thead th{
    height: 40px;
    background-color: rgb(78, 180, 100);
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border-right: #000000 solid 2px;
    border-bottom: #000000 solid 2px;
}

thead .id-livro{
    width:50px;
}
thead .nome-livro{
    width: 300px;
}
thead .nome-nome{
    width: 200px;
}
thead .Qtde{
    width: 0;
}
.table-livros .linha-branca{
    background-color: rgba(249, 249, 249, 0.976);
}
.table-livros .linha-cinza{
    background-color: rgb(209, 209, 209);
}

.container-todos-os-livros .icone-fechar-todos-os-livros{
    position: absolute;
    top: 5px;
    right: 10px;
}

/*
.container-todos-os-livros form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 965px;
    height: 262px;
    overflow: hidden;
    overflow-y: scroll;
}
.container-todos-os-livros form::-webkit-scrollbar{
    width: 7px;
    background-color: #FFFFFFCC;
    border-radius: 10px;
}
.container-todos-os-livros form::-webkit-scrollbar-thumb{
    background-color: #37573e;
    border-radius: 10px;
    
    
}*/

/* Estilizando a tabela com os inputs 
.container-todos-os-livros>form> table {
    border-collapse: collapse;
    /* Mesclando as bordas das células 
    width: 965px;
    height: 262px;
}*/
