.table-livros-emprestado {
    background-color: #303030F2;
    width: 1000px;
    height: 400px;
    border-radius: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

/*estilizando a tabela com os inputs */
.table-emprestados {
    border-collapse: collapse;
    position: absolute;
    width: 900px;
    height: 250px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    max-height: 250px;
    overflow-y: auto;
}
.table-livros-emprestado div{
    display: flex;
    justify-content: center;
}
.table-livros-emprestado h1{
    color: #FFFFFF;
    text-align: center;
    padding-top: 50px;
    border-bottom: #FFFFFF solid;
    font-size: 30px;
    font-style: italic;
    font-weight: 600;
    line-height: 36.31px;
}
thead .nome{
   width: 250px;
   text-align: center;
}
thead .acao{
    width: 100px;
}
thead .livros-emprestados{
    width: 300px;
}
thead .data{
    width: 100px;
}
.linha-cinza {
    background-color: rgb(209, 209, 209);
    text-align: center;
}


.linha-branca {
    padding: 200px;
    text-align: center;

    background-color: rgba(249, 249, 249, 0.976);
}


td {
    padding: 8px;
    font-size: 12px;
    font-weight: 600;
    border-right: #000000 solid 2px;
    /*border-bottom: #000000 solid 1px;*/
}

.table-livros thead th{
    height: 40px;
    background-color: rgb(78, 180, 100);
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border-right: #000000 solid 2px;
    border-bottom: #000000 solid 2px;
}

.botao-devolver-container{
    border-radius: 20px;
    background-color: #FFFFFF;
    
    cursor: pointer;
}
.botao-devolver {
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}

.botao-devolver-container:hover {
    background: linear-gradient(to right, #9290905e, #ffffff);
    background-size: 200% 100%;
    color: rgb(0, 0, 0);
}
/**/



.login-form-conteiner-delete-registro {
    position: absolute;
    background-color: #5C8D67;
    display: none;
    border-radius: 32px;
    width: 526px;
    height: 407px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-form-form-delete-registro form {
    padding: 55px 80px;
}

.login-titulo-form-delete-registro {
    background-color: #303030 transparent;
    padding: 40px 120px;
    border-radius: 36px 36px 0px 0px;


}

.titulo-form-delete-registro {
    position: relative;
    font-size: 30px;
    font-style: italic;
    font-weight: 800;
    line-height: 36.31px;
    text-align: center;
    color: #ffffff;

}

.titulo-form-delete-registro::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 12%;
    width: 75%;
    height: 2px;
    background-color: #FFFFFF;
    font-weight: 900;
}



.input-form-delete-registro {
    position: relative;
    margin: 5% auto;
    width: 385px;

}

.label3-registro {
    position: absolute;
    top: -25px;
    left: 14px;
    color: #D9D9D9;
    font-size: 15px;
    padding: 15px;
    left: -12px;

}

.input-usuario-form-delete-registro,
.input-senha-form-delete-registro,
.einput-senha-form-delete-registro {
    background-position: 5px center;
    padding-left: 30px;
    height: 35px;
    width: 385px;
    border: 1px solid rgba(0, 0, 0, 1);
    margin-top: 10px;

}

.botao-form-delete-registro {
    position: absolute;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 101px;
    height: 22px;
    top: 30px;

}

.input-botao-form-delete-registro {
    outline: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.6s ease;
    font-size: 17px;
    font-weight: 700;
    line-height: 20.57px;
    border-radius: 32px;
    width: 166px;
    height: 33px;
    font-size: 18px;
}

.input-form-deletar-registro[type="text"],
.input-form-deletar-registro[type="password"] {
    width: calc(100% - 40px);
    border-radius: 32px;
    outline: none;
    border: none;
    position: relative;
    background-color: #D9D9D9;

}

.input-botao-form-delete-registro:hover {
    background: linear-gradient(to right, #000000, #c0c0c0);
    background-size: 200% 100%;
    animation: gradientAnimation 3s infinite alternate;
    color: white;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.icone-fechar-table-emprestados{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}