/*emprestar livro*/
.icone-fechar {
    top: 5px;
    right: 5px;
    position: absolute;
    cursor: pointer;
    text-align: right;
    margin-bottom: 10px;
}


/*form do registro*/
.titulo {
    padding-top: 20px;
    padding-bottom: 40px;
    display: inline-block;
}

.title-h1 {
    border-bottom: #FFFFFF solid;
    color: #FFFFFF;
    font-family: 'Inter';
    font-size: 30px;
    font-style: italic;
    font-weight: 600;
    line-height: 36.31px;
    text-align: center;
}

.tabela-registro {
    background-color: rgba(48, 48, 48, 0.95);
    width: 700px;
    padding: 20px 0;
    border-radius: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.tabela-registro form {
    text-align: center;
}

.tabela-registro input, .tabela-registro select{
    background-color: rgba(217, 217, 217, 1);
    border-radius: 32px;
    height: 30px;
    outline: none;
    border: none;
    width: 386px;
    margin-bottom: 15px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    padding-left: 50px;
    
}

/*estilizando os input*/
.caixa-input {
    padding-bottom: 5px;
    position: relative;
}

.caixa-input .img-lupa {
    top: 10px;
    right: 320px;
    position: absolute;
    height: 15px;
    width: 20px;
}

.caixa-input .img-etiqueta {
    top: 0px;
    left: 180px;
    position: absolute;
    height: 13px;
    width: 20px;
}

.img-etiqueta-date {
    top: 0px;
    left: 20px;
    position: absolute;
    height: 13px;
    width: 20px;
}

.label-input {
    padding-left: 10px;
    bottom: 50px;
    position: absolute;
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 400;
    line-height: 18.15px;
    text-align: left;
    color: #D9D9D9;


}

select {
    outline: none;
    background-color: #D9D9D9;
    border-radius: 32px;

}

.label-select {
    color: #D9D9D9;
    padding-left: 100px;
    display: flex;
}


/*input dates*/
.tabela-registro input[type="date"] {
    background-color: rgba(217, 217, 217, 1);
    border-radius: 32px;
    height: 30px;
    outline: none;
    border: none;
    width: 180px;
    margin-bottom: 15px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    padding-left: 20px;

}

.caixa-input-date {
    flex-direction: initial ;
    display: flex;
    gap: 0px;
    align-items: center;
    justify-content: center;
}

.caixa-input-date input[type="date"] {
    margin-right: 10px;
    /* Espaçamento entre os inputs */
    flex: 1;
    /* Ocupando o espaço disponível */
    text-align: center;
}

/*subimits*/
.tabela-registro button.submit {
    background-color: rgba(217, 217, 217, 1);
    color: #070807;
    border: none;
    cursor: pointer;
    width: 166px;
    padding: 10px 20px;
    border-radius: 1rem ;
    font-weight: 900;
}

.tabela-registro button.submit:hover {
    background-color: #1b231b;
    color: #D9D9D9;
}

.input-submit {
    text-align: center;
}